html { background-color: #fff; }
body {
  background-color: #fff;
  color: #555;
  font-family: "skolar","Skolar PE",serif;
  font-size: 14px;
  width: 800px;
  margin: 0 auto;
  padding: 25px 50px; }
section {
  margin-left: 175px; 
  margin-bottom: 2em;
  clear: left; }
  section h3 { 
    position: relative; 
    left: -155px;
    margin: 0;
    float: left;
    width: 0; }
h1 {
  color: #264E59;
  font-family: "brandon-grotesque","Brandon Grotesque",sans-serif;
  font-size: 60px;
  margin-bottom: 0; }
h2 {
  font-family: "brandon-grotesque","Brandon Grotesque",sans-serif;
  font-weight: 100;
  font-size: 32px;
  margin: 0 0 1em 0; }
a {
  text-decoration: none;
  color: #264E59; }
  a:hover { color: #3A7878; }
address {
  font-style: normal; }
dt { font-weight: bold; }
dd { margin-left: 0; }
footer {
  margin-top: 6em;
  font-size: 12px;}
footer .divider { 
  color: #ccc;
  padding: 0 .75em; }

#contact { 
  float: left;
  margin: 0 0 0 0;
  padding: 0 0 2em 0; }
  #contact h3 { display: none; }
  #contact address {
    background-color: #F7F7F7;
    float: left;
    padding: 0 1.5em;
    width: 100%; }
  #contact address p {
    float: left;
    margin-right: 50px;
    width: 150px; }
#skills dt {
  display: inline-block;
  float: left;
  margin-right: .5em; }
